* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

@font-face {
	font-family: 'Bombardier';
	src: url("./contents/bombardier.ttf");
}

@font-face {
	font-family: 'Mgenplus';
	src: url("./contents/mgenplus-1c-medium.ttf");
}

@font-face {
	font-family: 'ABSTER';
	src: url("./contents/ABSTER.otf");
}

#header-navi a {
	color: #fcfcfc;
	transition: .3s;
	text-decoration: none;
	position: relative;
	display: inline-block;
}

#header-navi a:hover {
	color: #ffffff;
}

#header-navi a::after {
	position: absolute;
	bottom: 0;
	left: 50%;
	content: '';
	width: 0;
	height: 3px;
	background-color: #6495ed;
	transition: .3s;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

#header-navi a:hover::after {
	width: 100%;
}

/* =========================================================================================================== */

header {
	display: block;
	width: 100%;
	height: 75px;
	background-color: #333333;
	transition: .3s;
	/*z-index: 1;*/
	position: relative;
}

#header-logo {
	display: inline-block;
	width: 230px;
	height: 75px;
	margin: 0 0 0 30px;
	text-align: center;
	/*background-color: red;*/

}

#header-logo img {
	height: 100%;
	display: inline-block;
}

#header-navi {
	display: inline-block;
	width: 50%;
	height: 75px;
	margin-left: 55px; 
	font-family: 'Fira Sans', sans-serif;
	/*background-color: blue;*/
	color: #eeeeee;
}

#header-navi ul {
	list-style: none;
	float: right;
}

#header-navi li {
	float: left;
	font-size: 1.7vw;
	margin-right: 50px;
	line-height: 75px;
}

@media(max-width: 768px){

	header {
		height: 60px;
		text-align: center;
		transition: .3s;
	}

	#header-logo {
		display: inline-block;
		height: 60px;
		margin: 0;
		/*background-color: green;*/
	}

	#header-navi {
		display: none
	}

	#header-button {
		display: none;
	}
}

/* =========================================================================================================== */

#top {
	display: block;
	height: calc(100% - 75px);
	z-index: 0;
	background-color: #3256A4;
	text-align: center;
	background-size: 50px 50px;
	background-image:
	linear-gradient(0deg, transparent 9%, 
		rgba(255, 255, 255, .2) 10%, rgba(255, 255, 255, .2) 12%, transparent 13%, transparent 29%, 
		rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .1) 31%, transparent 32%, transparent 49%, 
		rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 51%, transparent 52%, transparent 69%, 
		rgba(255, 255, 255, .1) 70%, rgba(255, 255, 255, .1) 71%, transparent 72%, transparent 89%,
		rgba(255, 255, 255, .1) 90%, rgba(255, 255, 255, .1) 91%, transparent 92%, transparent),
	linear-gradient(90deg, transparent 9%, 
		rgba(255, 255, 255, .2) 10%, rgba(255, 255, 255, .2) 12%, transparent 13%, transparent 29%, 
		rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .1) 31%, transparent 32%, transparent 49%, 
		rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 51%, transparent 52%, transparent 69%, 
		rgba(255, 255, 255, .1) 70%, rgba(255, 255, 255, .1) 71%, transparent 72%, transparent 89%,
		rgba(255, 255, 255, .1) 90%, rgba(255, 255, 255, .1) 91%, transparent 92%, transparent);
}

#top-h {
	display: inline-block;
	margin-top: 170px;
	font-family: "Bombardier";
	color: #ffffff;

}

#top-h1 {
	font-size: 70px;
	letter-spacing: 5px;
}

#top-h2 {
	font-size: 40px;
	letter-spacing: 6px;
}

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 30px;
}

.arrows path {
	stroke: #FFFFFF;
	fill: transparent;
	stroke-width: 1px;  
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow {
	0% {opacity:0}
	40% {opacity:1}
	80% {opacity:0}
	100% {opacity:0}
}

@-webkit-keyframes arrow {
	0% {opacity:0}
	40% {opacity:1}
	80% {opacity:0}
	100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s;
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s;
}

.arrows path.a3 {   
	animation-delay:0s;
	-webkit-animation-delay:0s;
}

@media(max-width:768px){

	#top {
		height: 100%;
	}

	#top-h {
		display: inline-block;
		margin-top: 40%;
		font-family: "Bombardier";
		color: #ffffff;
		
	}

	#top-h1 {
		font-size: 60px;
		letter-spacing: 6px;
	}

	#top-h2 {
		font-size: 40px;
		letter-spacing: 6px;
	}
}

/* =========================================================================================================== */

#news {
	display: block;
	height: 600px;
	background-size: 100% 100%;
	background-image:
	radial-gradient(#FFFFFF, #777777);
	/*linear-gradient(#05FBFF, #1E00FF);*/
	text-align: center;
}

#news h1 {
	display: inline-block;
	font-family: 'ABSTER';
	font-size: 60px;
	margin-top: 70px;
}

.news-parts {
	display: inline-block;
	width: 600px;
	height: 400px;
	margin-top: 20px;
	border-radius: 5px;
	background: rgba(3,3,3,0.35);
	/*background-color: #ffffff;*/
	/*box-shadow: 1px 1px 50px #000;*/
}

.news-parts-picture {
	display: inline-block;
	overflow: hidden;
	margin-top: 50px;

	width: 500px;
	height: 270px;
	background-color: #ffffff;
}

.news-parts-picture img {
	display: inline-block;
	width: 500px;

	-webkit-transform: rotate(15deg) scale(1.4);
	transform: rotate(15deg) scale(1.4);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.news-parts-picture img:hover {
	transition: 0.5s;
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
}

.news-parts h2 {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 35px;
}

@media(max-width:768px){
	#news {
		height: 450px;
	}

	#news h1 {
		font-size: 40px;
	}

	.news-parts {
		width: 85%;
		margin-top: 40px;		
		height: auto;
		padding: 10px;
		background: rgba(3, 3, 3, 0.35);
		/*box-shadow: 2px 2px 1px #000;*/
	}

	.news-parts-picture {
		margin-top: 10px;
		width: 80%;
		height: auto;
		background-color: rgba(255, 0, 0, 0);
	}

	.news-parts-picture img {
		display: inline-block;
		width: 100%;
		height: 100%;

		-webkit-transform: rotate(0) scale(1);
		transform: rotate(0) scale(1);
	}
}
/* =========================================================================================================== */

footer {
	display: block;
	width: auto;
	height: 200px;
	background-color: #333333;
	text-align: center;
}

#footer-logo {
	display: inline-block;
	width: 230px;
	height: 75px;
	margin-top: 20px;
	/*background-color: green;*/
}

#footer-logo img {
	height: 100%;
	display: inline-block;
}

#footer-social {
	display: inline-block;
	width: 220px;
	height: 30px;
	/*background-color: pink;*/
}

#footer-social img {
	display: inline-block;
	height: 100%;
	margin: 0 10px;
	/*background-color: yellow;*/
}

#footer-copyrights {
	display: inline-block;
	margin-top: 10px;
	color: #afafaf;
	/*background-color: blue;*/
}

#footer-copyrights p {
	font-family: 'Chakra Petch', sans-serif;
	font-size: 16px;
}

#footer-copyrights a {
	color: #afafaf;
	position: relative;
	display: inline-block;
	transition: .3s;
	text-decoration: none;
}

@media (min-width: 768px) {
	#footer-copyrights a:hover {
		color: #d8d8d8;
	}

	#footer-copyrights a::after {
		position: absolute;
		bottom: 0;
		left: 50%;
		content: '';
		width: 0;
		height: 2px;
		background-color: #28ff5a;
		transition: .5s;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	#footer-copyrights a:hover::after {
		width: 100%;
	}
}

/* =========================================================================================================== */

.cp_fullscreenmenu a,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: #ffffff;
}
.cp_fullscreenmenu {
	display: none;
	/*position: fixed;*/
	z-index: 1;
	top: 0;
	right: 0;
}
/*menuコンテンツ*/
.cp_fullscreenmenu .menu {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	visibility: hidden;
	overflow: hidden;
	width: 100%;
	height: 100%;
	pointer-events: none;
	outline: 1px solid transparent;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	align-items: center;
	justify-content: center;
}
.cp_fullscreenmenu .menu > div {
	display: flex;
	overflow: hidden;
	width: 200vw;
	height: 200vw;
	transition: all 0.4s ease;
	-webkit-transform: scale(0);
	transform: scale(0);
	text-align: center;
	color: #fefefe;
	border-radius: 50%;
	background-size: 50px 50px;
	background-color: #3256A4;
	background-image: 
	linear-gradient(0deg, transparent 9%, 
		rgba(255, 255, 255, .2) 10%, rgba(255, 255, 255, .2) 12%, transparent 13%, transparent 29%, 
		rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .1) 31%, transparent 32%, transparent 49%, 
		rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 51%, transparent 52%, transparent 69%, 
		rgba(255, 255, 255, .1) 70%, rgba(255, 255, 255, .1) 71%, transparent 72%, transparent 89%,
		rgba(255, 255, 255, .1) 90%, rgba(255, 255, 255, .1) 91%, transparent 92%, transparent),
	linear-gradient(90deg, transparent 9%, 
		rgba(255, 255, 255, .2) 10%, rgba(255, 255, 255, .2) 12%, transparent 13%, transparent 29%, 
		rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .1) 31%, transparent 32%, transparent 49%, 
		rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 51%, transparent 52%, transparent 69%, 
		rgba(255, 255, 255, .1) 70%, rgba(255, 255, 255, .1) 71%, transparent 72%, transparent 89%,
		rgba(255, 255, 255, .1) 90%, rgba(255, 255, 255, .1) 91%, transparent 92%, transparent);
	flex: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	align-items: center;
	justify-content: center;
}
.cp_fullscreenmenu .menu > div > ul {
	display: block;
	max-height: 100vh;
	margin: 0;
	padding: 0 1em;
	list-style: none;
	transition: opacity 0.4s ease;
	opacity: 0;
}
.cp_fullscreenmenu .menu > div > ul > li {
	font-size: 24px;
	display: block;
	margin: 1em;
	padding: 0;
	font-family: 'Fira Sans', sans-serif;
}

/*クリックしたらメニューが開閉の動作*/
.cp_fullscreenmenu .toggle {
	display: none;
	position: absolute;
	z-index: 3;
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
	cursor: pointer;
	opacity: 0;
}
.cp_fullscreenmenu .toggle:checked + .hamburger > span {
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}
.cp_fullscreenmenu .toggle:checked + .hamburger > span:before,
.cp_fullscreenmenu .toggle:checked + .hamburger > span:after {
	top: 0;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.cp_fullscreenmenu .toggle:checked + .hamburger > span:after {
	opacity: 0;
}
.cp_fullscreenmenu .toggle:checked ~ .menu {
	visibility: visible;
	pointer-events: auto;
}
.cp_fullscreenmenu .toggle:checked ~ .menu > div {
	transition-duration: 0.75s;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.cp_fullscreenmenu .toggle:checked ~ .menu > div > ul {
	opacity: 1;
}
.cp_fullscreenmenu .toggle:checked ~ .menu > div > ul li:nth-of-type(1) {
	transition-delay: 0s;
}
.cp_fullscreenmenu .toggle:checked ~ .menu > div > ul li:nth-of-type(2) {
	transition-delay: 0s;
}
.cp_fullscreenmenu .toggle:checked ~ .menu > div > ul li:nth-of-type(3) {
	transition-delay: 0s;
}
.cp_fullscreenmenu .toggle:checked ~ .menu > div > ul li:nth-of-type(4) {
	transition-delay: 0s;
}
.cp_fullscreenmenu .toggle:hover + .hamburger {
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}
.cp_fullscreenmenu .toggle:checked:hover + .hamburger > span {
	-webkit-transform: rotate(225deg);
	transform: rotate(225deg);
}
/*ハンバーガー*/
.cp_fullscreenmenu .hamburger {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	display: none;
	width: 60px;
	height: 60px;
	padding: 0.5em 1em;
	cursor: pointer;
	transition: box-shadow 0.4s ease;
	border-radius: 0 0.12em 0.12em 0;
	/*background: rgba(0,151,167 ,0.7);*/
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.cp_fullscreenmenu .hamburger > span {
	position: relative;
	top: 50%;
	display: block;
	width: 100%;
	height: 2px;
	transition: all 0.4s ease;
	background: #fefefe;
}
.cp_fullscreenmenu .hamburger > span:before,
.cp_fullscreenmenu .hamburger > span:after {
	position: absolute;
	z-index: 1;
	top: -10px;
	left: 0;
	display: block;
	width: 100%;
	height: 2px;
	content: '';
	transition: all 0.4s ease;
	background: inherit;
}
.cp_fullscreenmenu .hamburger > span:after {
	top: 10px;
}

@media(max-width:768px){

	.cp_fullscreenmenu .toggle {
		display: block;
	}

	.cp_fullscreenmenu {
		display: block;
	}

	.cp_fullscreenmenu .hamburger {
		display: block;
	}

}