/*スクロールバー全体*/
::-webkit-scrollbar {
	width: 10px;
}

/*スクロールバーの軌道*/
::-webkit-scrollbar-track {
	background: #ffffff;
	/*border-left: solid 1px #ececec;*/
}

/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb {
	background-color: #666666;
	border-radius: 10px;
	/*box-shadow: inset 0 0 0 2px #fff;*/
}

#Wrapper h1 {
	font-size: 30px;
    font-weight: bold;
    font-family: 'Chakra Petch', sans-serif;
}

.formWrapper {
	overflow-x: hidden;
	overflow-y: auto;
}

.desc {
	margin-block-start: 0;
    margin-block-end: 0;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 20px;
	/*margin-bottom: 20px;*/
	font-family: 'Noto Sans JP';
	color: #111111;
}

.form-space-sp {
	height: 10px;
}

#Form label {
	font-size: 20px;
	font-family: 'Noto Sans JP';
	color: #222222;
}

#Form input[type="text"] {
	outline: none;
	border: 1px solid #aaa;
	-webkit-transition: all .3s;
	transition: all .3s;
	width: 95%;
	height: 30px;
	font-family: 'Noto Sans JP';
	font-size: 18px;
}

#Form input[type="text"]:focus {
	box-shadow: 0 0 7px #1abc9c;
	border: 1px solid #1abc9c;
}

#Form textarea {
	outline: none;
	border: 1px solid #aaa;
	-webkit-transition: all .3s;
	transition: all .3s;
	width: 95%;
	height: 100px;
	font-family: 'Noto Sans JP';
	font-size: 18px;
}

#Form textarea:focus {
	box-shadow: 0 0 7px #1abc9c;
	border: 1px solid #1abc9c;
}

#Form input[type="button"] {
	outline: none;
	border: 1px solid #aaa;
	-webkit-transition: all .3s;
	transition: all .3s;
	width: 95%;
	height: 30px;
	font-family: 'Noto Sans JP';
	font-size: 18px;
	margin: 20px 0;
}

#Form input[type="button"]:focus {
	box-shadow: 0 0 7px #1abc9c;
	border: 1px solid #1abc9c;
}

#thxMessage {
	font-family: 'Noto Sans JP';
	font-size: 25px;
}
