html {
  position: relative;
  height: 100%;
}

body {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  margin: 0; padding: 0;
  color: #fff;
  font-size: 20px;
  background: linear-gradient(#2e2e2e, #212121);
}

body:after {
  display: block;
  position: absolute;
  top: 50%; left: 50%;
  margin: -160px;
  width: 320px; height: 320px;
  color: #1e1e1e;
  font: 40px AvenirNext-Heavy;
  content: "Please Speak!";
  line-height: 320px;
  text-align: center;
}

#msg {
  position: absolute;
  top: 10px; bottom: 10px;
  left: 10px; right: 10px;
  font-size: 14px;
  overflow: scroll;
}

#msg:focus {
  outline: none;
}