/* =========================================================================================================== */

#top {
	display: block;
	height: 870px;
	z-index: 0;
	background-color: #3256A4;
	text-align: center;
}

iframe {
}

@media(max-width:768px){
	#top {
		width: auto;
		height: 870px;
	}

	iframe {
		width: 100%;
	}
}

/* =========================================================================================================== */

