#top {
	height: auto;
	min-height: 500px;
	padding-bottom: 30px;
}

#products-list {
	width: 800px;
	height: auto;
	display: inline-block;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 30px;
	background-color: rgba(255, 255, 255, 0.8);
}

.product {
	display: inline-block;
	width: 750px;
	height: 200px;
	color: #000000;
	background: #ffffff;
	border: solid 3px #999999;
	margin: 7px;
	word-wrap: break-word;
}

.product-picture {
	display: inline-block;
	height: 100%;
	border-right: solid 3px #cccccc;
}

.product-title {
	display: inline-block;
	position: relative;
	margin-bottom: 0.3em;
	font-size: 40px;
	font-weight: bold;
	font-family: 'Chakra Petch', sans-serif;
}

.product-title:before {
	content: '';
	position: absolute;
	bottom: -8px;
	display: inline-block;
	width: 60px;
	height: 5px;
	left: 50%;
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	background-color: #307fff;
	border-radius: 2px;
}

.product-license {
	color: #333333;
	display: inline-block;
	position: relative;
	margin-bottom: 0.1em;
	font-size: 20px;
	font-weight: bolder;
	font-family: 'Chakra Petch', sans-serif;
	margin-bottom: 0.3em;
}

.product-license a {
	color: #fca94b;
	text-decoration: none;
	margin-left: 0.5em;
	transition: 0.3s;
}

.product-license a:hover {
	color: #f78a0e;
}

.product-description {
	display: inline-block;
	font-size: 17px;
	font-weight: bolder;
	font-family: 'Chakra Petch', sans-serif;
	margin-bottom: 0.5em;
}

.product-download {
	display: inline-block;
	position: relative;
	margin-bottom: 0.2em;
	font-size: 20px;
	font-weight: bolder;
	font-family: 'Chakra Petch', sans-serif;
}

.product-download a {
	color: #307fff;
	transition: .3s;
	text-decoration: none;
	position: relative;
	display: inline-block;
}
	
@media (min-width: 768px) {
	.product-download a:hover {
		color: #0061ff;
	}

	.product-download a::after {
		position: absolute;
		bottom: 0;
		left: 50%;
		content: '';
		width: 0;
		height: 3px;
		bottom: -2px;
		background-color: #173982;
		transition: .3s;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	.product-download a:hover::after {
		width: 100%;
	}
}


@media(max-width: 768px){

	#products-list {
		width: 95%;
	}

	.product {
		width: 95%;
		height: auto;
		overflow-x: scroll;

		/*-webkit-overflow-scrolling: touch;*/
	}

	.product-title {
		font-size: 35px;
		padding: 0 10px;
		margin-bottom: 0.6em;
	}

	.product-picture {
		width: 100%;
		border-right: solid 0px #999999;
		border-bottom: solid 0px #cccccc;
	}

	.product-license {
		margin-bottom: 0.6em;
		padding: 0 5px;
	}

	.product-description {
		font-size: 16px;
		margin-bottom: 0.6em;
		padding: 0 10px;
	}

	.product-download {
		margin-bottom: 1em;
	}

	.product::-webkit-scrollbar {
		height: 5px;
	}
	.product::-webkit-scrollbar-track {
		border-radius: 5px;
		background: #eee;
	}
	.product::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background: #666;
	}

}